.main-box {
    width: 505px;
    margin: auto;
    height: 460px;
}


.burger-bread-top {
    height: 22%;
    width: 82%;
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    box-shadow: inset -15px 0 #c15711;
    margin: 2.5% auto;
}

.burger-salad {
    width: 92%;
    height: 8%;
    background: linear-gradient(#228c1d, #19ce50);

    margin: 2.5% auto;
    
    border-radius: 24px;

}

.burger-bread-bottom {
    height: 15%;
    width: 82%;

    background: linear-gradient(#f08e4a, #e27b36);

    margin: 2% auto;
    box-shadow: inset -15px 0 #c15711;

    border-radius: 0 0 30px 30px;

    



}
